body{
    background-color: #333;
    color: #ddd;
}

details{
    width: 50%;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 9px;
    

}

summary{
    background-color: transparent;
}