.lista{
    border: 2px solid black;
}

.lista__item{
    color:gray;
    margin:10px 0;
    list-style:square;
}
.lista--vieja{
    opacity: 0.4;
    background-color: #ddd;
}
.item--danino{
    color:red
}

.item--importante{
    color:blue
}

