img[src$="jpg"]{
    width: auto;
}

img[src^="https://"]{
    width: 100%;
}

ul li {
    color: gray;
}
li{
    color: green;
}

li>strong{
    color: green;
}

/*Selector de hermano adyacente*/

h1 + p + p{
    color :blue;
}

/*Selector de hermanos generales */
h1 ~ p ~ p{
    color :blue;
}

h1, p {
    background-color: lightgreen;
}